<form id='kk' enctype='multipart/form-data'>
	<div class="container">
		<div class="row"><br/></div>
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Datos para realizar el env&iacute;o</h3></div>
			<div class="panel-body">
				<table class="tablaFormulario">
					<tr>
						<td class="etiqueta"><label for="nombre">Destinatario:<br>(Correo electr&oacute;nico de quien debe firmar)</label></td>
						<td class="datos">
							<input class="form-control" type="text" name="destinatario"  ng-model="uoptions.formData[0].destinatario" maxlength="200">
						</td>
						<td class="datos">
							@carm.es
							<button ng-click="addDestinatario()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
						</td>
					</tr>
					<tr ng-repeat="d in destinatarios">
						<td class="etiqueta">(Destinatario adicional)<br/><br/></td>
						<td class="datos">
							<input class="form-control" name="destinatario" type="text" ng-model="d.destinatario" maxlength="200"> 
<!-- 								<input class="form-control" name="archivo" id="prueba" type="file" ng-model="d.destinatario" maxlength="200">
 -->						</td>
						<td class="datos">
							@carm.es
							<button ng-click="deleteDestinatario(d)" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
						</td>
					</tr>
					<tr ng-show="destinatarios.length>0">
						<td class="etiqueta">Rechazo global si uno rechaza<br/><br/></td>
						<td class="datos"><input class="form-control" type="checkbox" ng-true-value="S" ng-false-value="N" ng-model="uoptions.formData[0].rechazo" maxlength="200"></td>
						<td>{{uoptions.formData[0].rechazo}}</td>
					</tr>
					<tr>
						<td class="etiqueta"><label for="nombre">Asunto:</label></td>
						<td class="datos">
							<input class="form-control" name="asunto" type="text" ng-model="uoptions.formData[0].asunto" maxlength="200">
						</td>
					</tr>
					<tr>
						<td class="etiqueta"><label for="nombre">Descripcion:</label></td>
						<td class="datos">
							<textarea class="form-control" name="descripcion" type="text" ng-model="uoptions.formData[0].descripcion" maxlength="200" ></textarea>
						</td>
					</tr>
					<tr>
						<td class="etiqueta"><label for="nombre">Archivo:<br></label></td>
						<td class="datos">
							<input class="form-control" type="file" name="archivo"  ng-model="uoptions.formData[0].archivo" maxlength="200">
						</td>
						<td class="datos">
							
							<button ng-click="addArchivo()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
						</td>
					</tr>
					<tr ng-repeat="a in archivos">
						<td class="etiqueta">(Otro)<br/><br/></td>
						<td class="datos">
<!-- 							<input class="form-control" type="text" ng-model="d.destinatario" maxlength="200"> -->
								<input class="form-control" name="archivo" type="file" ng-model="a.archivo" maxlength="200">
						</td>
						<td class="datos">
							
							<button ng-click="deleteArchivo(a)" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
						</td>
					</tr>
				<!-- 	<tr>
						<td class="etiqueta"><label for="nombre">Documento PDF a firmar:</label></td>
						<td class="datos">
							<input aclass="form-control" type="file" nv-file-select uploader="uploader" options="uoptions" /><br/>
						</td>
						<td>
					
					<button ng-click="addArchivo()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
					
					</td>
					</tr>
					<tr ng-repeat="item in uploader.queue">
					<td>
					
							<strong>{{ item.file.name }}</strong>
					</td>
				 <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
						<td nowrap>
					
							 <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                    </button>
					</td>
					
					
					</tr> -->
					<tr>
						<td class="etiqueta" colspan=3>
							<button class="btn btn-primary" ng-click="enviar()" >Enviar</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		
	<!-- 	  <table class="table">
		  
                        <thead>
                            <tr>
                                <th width="50%">Nombre de fichero</th>
                                <th ng-show="uploader.isHTML5">Peso</th>
                               <th ng-show="uploader.isHTML5">Progreso</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in uploader.queue">
                               <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                               <td ng-show="uploader.isHTML5">
                                      <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Subir
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
		 -->
		
		<div class="row"></div>
		<div class="row" ng-show="user.hasRole['ADMIN']">
			<button class="btn btn-primary" ng-click="muestraListado()" >Ver/ocultar enviados (Administrador)</button>
		</div>
		<div class="row"><br/></div>
		<div ng-show="showPanel" class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Listado de envios</h3></div>
			<div class="panel-body">
				<list-control api="apiPagCrudFn" overlay="showOverlayLoading"></list-control>
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">ACCIONES</th>
							<th class="col-md-2"><sort-t opt="genOptions" sortparam="ID" on-change="sortSrc('ID')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="SERVICIO" on-change="sortSrc('SERVICIO')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="FECHACREACION" on-change="sortSrc('FECHACREACION')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="FECHAULTIMA" on-change="sortSrc('FECHAULTIMA')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="USUARIO" on-change="sortSrc('USUARIO')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="IDSOLICITUD" on-change="sortSrc('IDSOLICITUD')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="VALIDACIONID" on-change="sortSrc('VALIDACIONID')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="ESTADO" on-change="sortSrc('ESTADO')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="FECHATRAMITACION" on-change="sortSrc('FECHATRAMITACION')"></sort-t></th>
							<th class="col-md-3"><sort-t opt="genOptions" sortparam="MOTIVO" on-change="sortSrc('MOTIVO')"></sort-t></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='item in data'>
							<td>
								<button class="btn btn-primary" ng-click="ver(item)"><i class="glyphicon glyphicon-eye-open"></i></button>
							</td>
							<td>{{item.ID}}</td>
							<td>{{item.SERVICIO}}</td>
							<td>{{item.FECHACREACION|date}}</td>
							<td>{{item.FECHAULTIMA|date}}</td>
							<td>{{item.USUARIO}}</td>
							<td>{{item.IDSOLICITUD}}</td>
							<td>{{item.VALIDACIONID}}</td>
							<td>{{item.ESTADO | estado}}</td>
							<td>{{item.FECHATRAMITACION|date}}</td>
							<td>{{item.MOTIVO}}<td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
					<edu-pagination data="pagination" on-change="setPageSrc()"></edu-pagination>
			        <app-register parametro="pagination"></app-register>
				</div>
				
			</div>
		</div>
		
	</div>
	
</form>	
	
	
<!-- overlay form upload -->
<!-- 		<div class="overlayFixed" ng-show="showOverlayUploadFile" >
			<div class="panel panel-info centrado"  style="width:300px">
					<div class="panel-heading" >
						<span  class="glyphicon glyphicon-upload pull-right"></span>
						
						<br/>
					</div>
					<div class="panel-body" >
						<h4>Subiendo archivo</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						   
						  </div>
						</div>
					</div>
					<div class="panel-footer" >
					   
					</div>
			</div>
		</div>	 -->