
	<div class="container">
		<div class="row"><h3><i class="glyphicon glyphicon-list-alt"></i> MODELOS {{user.attr.DATABASE.FILENAME}}</h3></div>
		<div class="panel panel-primary" ng-show="!showCategoria">
			<div class="panel-heading"><h3 class="panel-title">Listado de modelos</h3></div>
			<div class="panel-body">
				<list-control api="apiPagCrudFn" overlay="showOverlayLoading" btn="newItem()" btn-caption="Nuevo modelo"></list-control>
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">ACCIONES</th>
							<th class="col-md-2"><sort-t opt="genOptions" sortparam="ID" on-change="sortSrc('ID')"></sort-t></th>
							<th class="col-md-2"><sort-t opt="genOptions" sortparam="ID_DB" on-change="sortSrc('ID_DB')"></sort-t></th>
							<th class="col-md-6"><sort-t opt="genOptions" sortparam="FILENAME" on-change="sortSrc('FILENAME')"></sort-t></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='item in data'>
							<td>
								<button class="btn btn-primary" ng-click="ver(item)"><i class="glyphicon glyphicon-eye-open"></i></button>
								<button class="btn btn-danger" ng-click="eliminar(item.ID)"><i class="glyphicon glyphicon-remove"></i></button>
							</td>
							<td>{{item.ID}}</td>
							<td>{{item.ID_DB}}</td>
							<td>{{item.FILENAME}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
					<edu-pagination data="pagination" on-change="setPageSrc()"></edu-pagination>
			        <app-register parametro="pagination"></app-register>
				</div>
			</div>
		</div>
		<div class="panel panel-primary" ng-show="showCategoria">
			<div class="panel-heading">
				<h3 class="panel-title">Datos del modelo</h3>
				<button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
				<button class="btn btn-success" ng-click="grabar()"><i class="glyphicon glyphicon-floppy-disk"></i></button>
			</div>
			<div class="panel-body">
				<form id='formModelo' enctype='multipart/form-data'>
					<div class="row">
						<div class="col-md-4"><label>ID</label><input class="form-control" disabled ng-model="dataSel.ID"></div>
						<div class="col-md-4"><label>ID_DB</label><input class="form-control" disabled ng-model="dataSel.ID_DB"></div>
						<div class="col-md-4"><label>DB_FILENAME</label><input class="form-control" disabled ng-model="dataSel.DB_FILENAME"></div>
					</div>
					<div class="row">
						<div class="col-md-4"><label>FILENAME</label><input class="form-control" ng-model="dataSel.FILENAME"></div>
						<div class="col-md-4">
							<br/>
							<button type="button" class="btn btn-warning btn-xs" ng-click="actualizarModelo()">
								<span class="glyphicon glyphicon-refresh"></span> Actualizar
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12"><label>DATA_EXAMPLE</label><textarea class="form-control" ng-model="dataSel.DATA_EXAMPLE"></textarea></div>
					</div>
					<div class="row"><br /></div>
					
					<generic-attachments data="dataSel.attNames" options="attOptions" on-success="refreshAttachments()" ></generic-attachments>
				</form>

				<div class="row">
					<div class="col-md-2">
						<label>SECCION</label>
						<button class="btn btn-primary" ng-click="openLupaSecciones()">Add seccion</button>
					</div>
				</div>
	
				<div class="panel panel-primary">
					<div class="panel-heading"><h3 class="panel-title">SECCIONES</h3></div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="col-md-1">ACCIONES</th>
									<th class="col-md-1">FILENAME</th>
									<th class="col-md-1">DEPENDENCIAS</th>
									<th class="col-md-1">ORDEN</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='item in secciones'>
									<td ng-show="userHasAnyRol('ADMIN,ADMIN EOI')">
										<button class="btn btn-danger" ng-click="eliminarSeccion(item.ID)"><i class="glyphicon glyphicon-remove"></i></button>
									</td>
									<td>{{item.S_FILENAME}}</td>
									<td>{{item.DEPENDENCIAS}}</td>
									<td>{{item.ORDEN}}</td>
									<td ng-show="userHasAnyRol('ADMIN,ADMIN EOI')">
										<button class="btn btn-success" ng-click="subir($index)"><i class="glyphicon glyphicon-arrow-up"></i></button>
										<button class="btn btn-success" ng-click="bajar($index)"><i class="glyphicon glyphicon-arrow-down"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="row"><hr /></div>
				<div class="row">
					<div class="col-md-12"><span ng-bind-html="HTML"></span></div>
				</div>
				<div class="row"><hr /></div>
				<div class="row">
					<div class="col-md-12">{{TXT}}</div>
				</div>
			</div>
		</div>
	</div>
